
@{
    ViewBag.Title = "EvaQuest";
    //Layout = "";
}

@section css{
    <link href="~/Content/ThinkPowerStyle.css" rel="stylesheet" />
}

@*<div class="container tp-font">
    <div class="row">
        <div class="col-md-12 tp-homepage-head" style="background-color:red">
            <div class="col-md-4 tp-homepage-font-color">
                <h1>LabB3</h1>
            </div>
            <div class="col-md-8 col-md-offset-10 tp-homepage-link-color">
                <span>|</span>
                <a href="#">首頁</a>
                <span>|</span>
                <a href="#">關於</a>
                <span>|</span>
                <a href="#">登出</a>
                <span>|</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            body
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            bottom
        </div>
    </div>
</div>*@


@using (Html.BeginForm("EvaQuest", "RiskEvaluation", FormMethod.Post))
{
    <input type="text" name="questId" value="FNDRE002" />
    <input type="submit" id="submitEvaQuest" value="Save" class="btn btn-default" />
}