/*Global*/
html {
}

body {
    font-family: Helvetica, Microsoft JhengHei;
    font-size: 16px;
}

input[type=button], input[type=submit] {
    background-color: #2C95F1;
    border: 2px solid #4A7EBB;
    color: white;
    min-width: 64px;
}

::-webkit-input-placeholder {
    text-align: center;
}





/*EvaQuest*/
.question {
    background-color: #D5E6F8;
}

    .question div {
        margin-top: 1px;
    }





/*head*/
.question-head {
}

.question-head-title {
    font-weight: bold;
    color: #010180;
}

    .question-head-title h3 {
        font-weight: bold;
        color: #010180;
    }

.question-head-img {
    height: 120px;
    /*z-index: 1;*/
}

.question-head-descript {
    padding: 10px;
}





/*body*/
.question-body {
}

.question-subject {
    padding-bottom: 5px;
}

.question-subject-head {
    /*display: inline-block;*/
}

.question-subject-head-no {
    display: inline-block;
}

.question-subject-head-descript {
    display: inline-block;
}

.question-subject-body {
}

.question-subject-footer {
    padding-left: 30px;
}

.question-subject-footer-tip > span {
    color: red;
}

.question-answer {
    display: inline-block;
}

.question-answer-code {
    display: inline;
    /*width: 0px;*/
    padding-right: 5px;
}

.question-answer-descript {
    display: inline;
    padding: 0 3px;
}

.question-answer-other {
}





/*footer*/
.question-footer {
}

.question-footer-descript {
    margin: 15px;
}

.question-footer-submit {
}

    .question-footer-submit > input {
        margin-bottom: 10px;
    }





/*layout*/
.layout-header {
    background-color: #548DD4;
    color: white;
}

.layout-body {
    min-height: 80vh;
}

.layout-body-left {
    background-color: #F2F2F2;
}

    .layout-body-left img {
        width: 12px;
    }

.layout-body-left-item {
    background-color: #D9D9D9;
    border-top: 1px solid white;
}

    .layout-body-left-item a {
        color: #7C7C7C;
        font-weight: bold;
    }

.layout-body-right {
}

.layout-footer {
    text-align: center;
    background-color: #A6A6A6;
    padding: 5px;
}





/*EvaluationRank*/
.eva-rank-container {
    padding: 5%;
}

.eva-rank-title {
    text-align: center;
    font-weight: bold;
}

.eva-rank-table {
    width: 100%;
    table-layout: fixed;
    background-color: #F2F2F2;
    border-collapse: collapse;
}

    .eva-rank-table tr td {
        border: 1px solid black;
    }

.eva-rank-table-header {
    line-height: 0;
}

.eva-rank-table-header-marker {
    font-size: 30px;
}
