/*Global*/
body {
    font-family: Helvetica, Microsoft JhengHei;
    font-size: 16px;
}

input[type=button], input[type=submit] {
    background-color: #2C95F1;
    border: 2px solid #4A7EBB;
    color: white;
}





/*EvaQuest*/
.question {
    background-color: #D5E6F8;
}

    .question div {
        margin-top: 1px;
    }

/*head*/
.question-head {
}

.question-head-title {
    font-weight: bold;
    color: #010180;
}

.question-head-img {
    height: 80px;
    z-index: 1;
}

.question-head-descript {
}

/*body*/
.question-body {
}

.question-subject {
}

.question-subject-head {
    display: inline-block;
}

.question-subject-head-no {
    display: inline-block;
}

.question-subject-head-descript {
    display: inline-block;
}

.question-subject-body {
    display: inline-block;
}

.question-subject-footer {
    display: inline-block;
}

.question-subject-footer-tip > span {
    color: red;
}

.question-answer {
}

.question-answer-code {
    display: inline-block;
}

.question-answer-descript {
    display: inline-block;
}

/*footer*/
.question-footer {
}

.question-footer-submit {
}

    .question-footer-submit > input {
        margin-bottom: 9px;
    }




/*layout*/
.layout-header {
    background-color: #548DD4;
    color: white;
}

.layout-body-left {
    background-color: #F2F2F2;
}

    .layout-body-left img {
        width: 12px;
    }

.layout-footer {
    text-align: center;
    background-color: #A6A6A6;
    padding: 5px;
}
