/*#region Global */

body {
    font-family: Helvetica, Microsoft JhengHei;
    font-size: 16px;
}

input[type=submit] {
    background-color: #2C95F1;
    border: 2px solid #4A7EBB;
    color: white;
}

/*#endregion */

/*#region EvaQuest */

.question {
    background-color: #D5E6F8;
}

    .question div {
        /*margin-top: 1px;*/
    }

/*#region head */

.question-head {
}

.question-head-title {
    /*float: none;
    display: table-cell;
    vertical-align: bottom;*/
}

    .question-head-title > span {
        font-weight: bold;
        color: #010180;
    }

.question-head-img {
}

    .question-head-img > img {
        width: 100%;
        height: 80px;
    }

.question-head-descript {
}

    .question-head-descript > span {
        /*margin-top: 80px,;*/
    }

/*#endregion */

/*#region body */

.question-body {
}

.question-subject {
}

.question-subject-head {
    display: inline-block;
}

.question-subject-head-no {
    display: inline-block;
}

.question-subject-head-descript {
    display: inline-block;
}

.question-subject-body {
    display: inline-block;
}

.question-subject-footer {
    display: inline-block;
}

.question-subject-footer-tip > span {
    color: red;
}

.question-answer {
}

.question-answer-code {
    display: inline-block;
}

.question-answer-descript {
    display: inline-block;
}

/*#endregion */

/*#region footer */

.question-footer {
}

.question-footer-submit {
}

    .question-footer-submit > input {
        margin-bottom: 9px;
    }

/*#endregion */

/*#endregion */
